@page
@model CBTDWeb.Pages.CalendarPrice

@{
}

<form method="Post" asp-page="Index">
    <div class="row mb-4">
        <div class="col-md-4">
            <input asp-for="@Model.objAvailable.PropertyId" type="hidden" />
            <div class="form-group">
                <label asp-for="@Model.objAvailable.StartDate">Start Date</label>
                <input asp-for="@Model.objAvailable.StartDate" type="date" id="startDate" class="form-control"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="@Model.objAvailable.EndDate">End Date</label>
                <input asp-for="@Model.objAvailable.EndDate" type="date" id="endDate" class="form-control"/>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-end">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
