@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">AirBnB</h1>
</div>

<hr class="border border-info border-2 my-4" />

<!-- Date Filter Form -->
<form method="get" asp-page="Index">
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="form-group">
                <label for="startDate">Start Date</label>
                <input type="date" id="startDate" name="startDate" class="form-control" value="@Request.Query["startDate"]" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="endDate">End Date</label>
                <input type="date" id="endDate" name="endDate" class="form-control" value="@Request.Query["endDate"]" />
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-end">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </div>
</form>

<div class="d-flex align-items-stretch gap-3 pb-3">
    @foreach (var property in Model.objPropertyList)
    {
        <div class="col-lg-3 col-md-6">
            <div class="card h-100">
                <img src="/images/Products/Cheetos.jpg" height="200" class="card-img-top object-fit-cover"/>
                <div class="card-body d-flex flex-column justify-content-between">
                    <div class="pl-1">
                        <p class="card-title h5 text-primary">@property.PropertyName</p>
                        <p class="card-title text-info"><b>@property.City, @property.State</b></p>
                    </div>
                </div>
                <div class="card-footer">
                    <a asp-page="PropertyDetails" class="btn btn-primary form-control" asp-route-id="@property.Id">Details</a>
                </div>
            </div>
        </div>
    }
</div>