@page
@model CBTDWeb.Pages.Property.InsertPropertyModel
@{
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-black pt-4 pb-3 text-center">
        <h2 class="text-white py-2">@(Model.Property.Id == 0 ? "Create" : "Edit") Property</h2>
    </div>

    <div class="card-body p-4">
        <form method="post" enctype="multipart/form-data" class="border p-3">
            <div class="row">
                <div class="mb-3">
                    <label asp-for="Property.PropertyName" class="ms-2"></label>
                    <input asp-for="Property.PropertyName" class="form-control" />
                    <span asp-validation-for="Property.PropertyName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Property.Description" class="ms-2"></label>
                    <textarea asp-for="Property.Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Property.Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="ms-2">Amenity Type</label>
                    @Html.DropDownListFor(m => m.Property.Amenities.FirstOrDefault().AmenityTypeId, Model.AmenityTypes, "", new { @class = "form-select" })
                    <span asp-validation-for="Property.Amenities.FirstOrDefault().AmenityTypeId" class="text-danger"></span>
                </div>
                
                <div class="mb-3">
                    <label asp-for="Property.Prices.First().Amount" class="ms-2"></label>
                    <input asp-for="Property.Prices.First().Amount" class="form-control" />
                    <span asp-validation-for="Property.Prices.First().Amount" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="Property.MediaItems.FirstOrDefault().UrlPath" class="form-label">
                        @(Model.Property.MediaItems.FirstOrDefault()?.UrlPath != null ? "Replace " : "") Picture
                    </label>
                    <input class="form-control" type="file" asp-for="Property.MediaItems.FirstOrDefault().UrlPath">
                    <span class="text-danger" asp-validation-for="Property.MediaItems.FirstOrDefault().UrlPath"></span>

                    @if (Model.Property.MediaItems.FirstOrDefault()?.UrlPath != null)
                    {
                        <input class="visually-hidden" type="hidden" asp-for="Property.MediaItems.FirstOrDefault().UrlPath" />
                        <div class="mt-2">
                            <img class="img-thumbnail" src="@Model.Property.MediaItems.FirstOrDefault().UrlPath" />
                        </div>
                    }
                </div>
            </div>

            <div class="row pt-2">
                <div class="col-6 col-md-3">
                    @if (Model.Property.Id != 0)
                    {
                        <input asp-for="Property.Id" type="hidden" />
                    }
                    <button type="submit" class="btn btn-primary form-control">
                        @(Model.Property.Id == 0 ? "Create" : "Update")
                    </button>
                </div>

                <div class="col-6 col-md-3">
                    <a asp-page="Index" class="btn btn-outline-primary border form-control">
                        Back to List
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: "file edit format"
        });
    </script>
}
